::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--highlight-color);
}

/* 隐藏爱奇艺DRM提示弹窗 */
.notSupportedDrm_drmTipsPopBox__hqd7B,
.notSupportedDrm_drmTipsPopBoxCover__c-A0d {
    display: none !important;
}